TTS==0.22.0
torch==2.5.1 --index-url https://download.pytorch.org/whl/cpu
numpy==1.22.0
transformers==4.46.2
fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
coqpit==0.0.17
trainer==0.0.36
encodec==0.1.1
librosa==0.10.0
scipy==1.11.4
pandas==1.5.3
unidecode==1.3.8
pypinyin==0.53.0
gruut==2.2.3